.spiritname {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
.paragraph {
  padding: 3rem;
  text-align: center;
}

@media (max-width: 515px) {
  .spiritname {
    display: none;
  }
  .spiritbanner {
    display: none;
  }
  .Pictures {
    padding: 1rem;
  }
  img {
    padding-bottom: 2rem;
  }
  header {
    text-align: center;
  }
  p {
    padding: 1rem;
  }
}
@media (max-width: 900px) {
  p {
    font-size: x-large;
    padding: 1rem;
  }
  img {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}
@media (min-width: 900px) {
  img {
    height: 550px;
    width: auto;
    padding: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    gap: 1rem;
    padding: 2rem;
  }
  .Info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-left: 3rem;
  }
}
@media (prefers-color-scheme: dark) {
  header {
    padding: 20px;
    font-size: xx-large;
    background-color: rgb(152, 62, 166);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }
  body {
    background-color: rgb(76, 48, 90);
    margin: auto;
    color: aliceblue;
  }
  p {
    font-size: xx-large;
    background-color: rgb(76, 48, 90);
    color: aliceblue;
  }
  main {
    background-color: rgb(76, 48, 90);
  }
  a {
    color: aliceblue;
  }
  footer {
    background-color: rgb(76, 48, 90);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
}
@media (prefers-color-scheme: light) {
  header {
    padding: 20px;
    font-size: xx-large;
    background-color: rgb(142, 71, 153);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }
  body {
    background-color: rgb(210, 225, 245);
    margin: auto;
  }
  p {
    padding: 1rem;
    font-size: xx-large;
    color: rgb(58, 0, 96);
  }
  a {
    color: rgb(58, 0, 96);
  }

  footer {
    background-color: rgb(142, 71, 153);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
}
