.spiritname {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
img {
  width: 100%;
}
p {
  text-align: center;
  font-size: larger;
}
.websites {
  text-align: center;
  font-size: large;
}

@media (max-width: 515px) {
  .spiritname {
    display: none;
  }
  header {
    text-align: center;
  }
  .websites {
    padding-bottom: 1rem;
  }
  img {
    padding-bottom: 1rem;
  }
}
@media (max-width: 900px) {
  p {
    font-size: x-large;
  }
  .websites {
    font-size: large;
    padding-bottom: 2rem;
  }
  img {
    padding-bottom: 2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-self: center;
  }
}
@media (min-width: 900px) {
  .websites {
    padding-bottom: 3rem;
  }
  img {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding-bottom: 3rem;
  }
}
@media (prefers-color-scheme: dark) {
  header {
    padding: 35px;
    font-size: xx-large;
    background-color: rgb(152, 62, 166);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }
  .spiritbanner {
    width: 100%;
  }

  body {
    background-color: rgb(76, 48, 90);
    margin: auto;
    color: aliceblue;
  }

  p {
    padding: 1rem;
    font-size: xx-large;
    background-color: rgb(76, 48, 90);
    color: aliceblue;
  }
  main {
    background-color: rgb(76, 48, 90);
  }

  a {
    color: aliceblue;
  }
  footer {
    background-color: rgb(76, 48, 90);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
}
@media (prefers-color-scheme: light) {
  header {
    padding: 35px;
    font-size: xx-large;
    background-color: rgb(142, 71, 153);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }
  .spiritbanner {
    width: 100%;
  }
  body {
    background-color: rgb(210, 225, 245);
    margin: auto;
  }
  p {
    padding: 1rem;
    font-size: xx-large;
    color: rgb(58, 0, 96);
  }
  a {
    color: rgb(58, 0, 96);
  }

  footer {
    background-color: rgb(142, 71, 153);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
}
