header {
  padding: 35px;
  font-size: xx-large;
  background-color: rgb(142, 71, 153);
  position: sticky;
  top: 0px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
header nav a {
  color: aliceblue;
}
body {
  background-color: rgb(210, 225, 245);
}
img {
  width: 100%;
  padding: none;
}
p {
  text-align: center;
  font-size: larger;
  color: rgb(54, 9, 96);
}
.sociallinks {
  text-align: center;
  font-size: x-large;
}
.pcommision {
  text-align: center;
  font-size: xx-large;
  padding-bottom: 2rem;
}
footer {
  background-color: rgb(142, 71, 153);
  color: aliceblue;
  text-align: center;
}
@media (max-width: 515px) {
  .spiritname {
    display: none;
  }
  header {
    text-align: center;
  }
  img {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-self: center;
  }
}
@media (max-width: 900px) {
  p {
    font-size: x-large;
    text-align: center;
  }
  img {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-self: center;
  }
}
@media (min-width: 900px) {
  img {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-self: center;
  }
}
