.spiritname {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
img {
  width: 100%;
}
p {
  text-align: center;
  font-size: larger;
}
img {
  transition: transform 0.3s ease;
  transition: box-shadow 0.3s ease;
}
img:hover {
  opacity: 0.9;
  box-shadow: 0 0 10px rgb(156, 195, 255), 0 0 20px rgb(212, 0, 255),
    0 0 30px rgb(150, 4, 166);
}

@media (max-width: 515px) {
  .spiritname {
    display: none;
  }
  header {
    text-align: center;
  }
  p {
    font-size: larger;
  }
}
@media (max-width: 900px) {
  p {
    font-size: x-large;
  }

  .Pictures {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
}
@media (min-width: 900px) {
  p {
    text-align: center;
  }
  .Pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 6rem;
    padding: 2rem;
  }
  img {
    height: auto;
    width: 400px;
  }
}
@media (prefers-color-scheme: dark) {
  header {
    padding: 20px;
    font-size: xx-large;
    background-color: rgb(152, 62, 166);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }

  body {
    background-color: rgb(76, 48, 90);
    margin: auto;
    color: aliceblue;
  }

  p {
    padding: 1rem;
    font-size: xx-large;
    background-color: rgb(76, 48, 90);
    color: aliceblue;
  }
  main {
    background-color: rgb(76, 48, 90);
  }
  a {
    color: aliceblue;
  }
  footer {
    background-color: rgb(76, 48, 90);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
}
@media (prefers-color-scheme: light) {
  header {
    padding: 20px;
    font-size: xx-large;
    background-color: rgb(142, 71, 153);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }
  body {
    background-color: rgb(210, 225, 245);
    margin: auto;
  }
  p {
    padding: 1rem;
    font-size: xx-large;
    color: rgb(58, 0, 96);
  }
  a {
    color: rgb(58, 0, 96);
  }

  footer {
    background-color: rgb(142, 71, 153);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
}
