.spiritname {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
img {
  width: 100%;
}
p {
  text-align: center;
  font-size: larger;
}
.submitsec {
  text-align: center;
  font-size: larger;
}
.detailp {
  font-size: x-large;
}
.detailt {
  width: 70%;
  height: auto;
}
.firstname {
  width: 70%;
  height: auto;
}
.lastname {
  width: 70%;
  height: auto;
}
.email {
  width: 70%;
  height: auto;
}

@media (max-width: 515px) {
  .spiritname {
    display: none;
  }
  header {
    text-align: center;
  }
}
@media (max-width: 900px) {
  p {
    font-size: x-large;
  }
  .firstname {
    width: 50%;
  }
  .lastname {
    width: 50%;
  }
  .email {
    width: 50%;
  }
  .detailt {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .firstname {
    width: 40%;
  }
  .lastname {
    width: 40%;
  }
  .email {
    width: 40%;
  }
  .detailt {
    width: 40%;
  }
}
@media (prefers-color-scheme: dark) {
  header {
    padding: 35px;
    font-size: xx-large;
    background-color: rgb(152, 62, 166);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }
  .spiritbanner {
    width: 100%;
  }

  body {
    background-color: rgb(76, 48, 90);
    margin: auto;
    color: aliceblue;
  }

  p {
    padding: 1rem;
    font-size: xx-large;
    background-color: rgb(76, 48, 90);
    color: aliceblue;
  }
  main {
    background-color: rgb(76, 48, 90);
  }
  button {
    font-size: xx-large;
    color: rgb(93, 0, 93);
    background-color: rgb(187, 142, 229);
    margin: 2rem;
    border: none;
    border-radius: 6px;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
  }
  Button:hover {
    transform: scale(1.1);
    opacity: 0.7;
    color: rgb(135, 241, 255);
    background-color: rgb(72, 0, 140);
    box-shadow: 0 0 10px rgb(130, 180, 255), 0 0 20px rgb(234, 96, 255),
      0 0 30px rgb(235, 60, 255);
  }
  a {
    color: aliceblue;
  }
  footer {
    background-color: rgb(76, 48, 90);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
}
@media (prefers-color-scheme: light) {
  header {
    padding: 35px;
    font-size: xx-large;
    background-color: rgb(142, 71, 153);
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .spiritname {
    color: aliceblue;
  }
  header nav a {
    color: aliceblue;
  }
  .spiritbanner {
    width: 100%;
  }
  body {
    background-color: rgb(210, 225, 245);
    margin: auto;
  }
  p {
    padding: 1rem;
    font-size: xx-large;
    color: rgb(58, 0, 96);
  }
  a {
    color: rgb(58, 0, 96);
  }
  .submitsec {
    color: rgb(77, 4, 64);
  }
  footer {
    background-color: rgb(142, 71, 153);
    text-align: center;
    padding: 30px;
    bottom: 0px;
    color: aliceblue;
  }
  button {
    font-size: xx-large;
    color: rgb(255, 231, 255);
    background-color: rgb(127, 53, 114);
    margin: 2rem;
    border: none;
    border-radius: 6px;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
  }
  Button:hover {
    transform: scale(1.1);
    opacity: 0.7;
    background-color: rgb(45, 0, 88);
    box-shadow: 0 0 10px rgb(156, 195, 255), 0 0 20px rgb(212, 0, 255),
      0 0 30px rgb(150, 4, 166);
  }
}
